.ui.menu {
  background-color: #fafafa;
  padding: 2em;
  border-radius: 0;
}
.ui.pink.button {
  margin: 0 auto;
}
.ui.main.container {
  text-align: center;
}
.start.button {
  width: 10em;
  margin: 2em!important;
  color: #ffffff;
  background-color: #e59191;
}
.start.button:hover, #savebutton, #savebutton:hover {
  background-color: #e59191;
}
#snakegrid {
  margin: 0 auto;
  width: 31.4em;
  padding: 0.2em;
  border: 1px solid #979797;
}
.setting.icon {
  padding-left: 2em;
  padding-right: 0.5em;
}
#configbutton {
  font-size: 1.1rem;
}
#snakegrid .column {
  margin: 0.2em;
  padding: 3px;
  width: 4em;
  height: 4em;

  border: 1px solid #989898;
  background-color: #d8d8d8;
}
.ui.modal>.close {
  top: 0.5rem;
  right: 0.5rem;
  color: #000;
}
@media screen and (max-width: 480px) {
  #configtext {
    display: none;
  }
  .setting.icon {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0!important;
    font-size: 1.2em;
  }
  #snakegrid {
    zoom: 0.65;
  }
}
